@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-space: 'Space Grotesk', sans-serif;

  --color-primary: #FF0050;
  --color-secondary: #00F2EA;
  --color-dark: #121212;
  --color-surface: #1E1E1E;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

body {
  background-color: #0f0f0f;
  color: #fff;
  overflow: hidden;
}
